
# Core Web Framework and Server
Flask==3.1.0
Flask-Cors==5.0.0
gunicorn==23.0.0
uvicorn

# Machine Learning & Data Processing
cmdstanpy==1.2.5
holidays==0.73
joblib==1.5.1
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
pillow==11.2.1 
prophet==1.1.6 
scikit-learn==1.7.0
scipy==1.16.0
stanio==0.5.1
xgboost==3.0.2

# Google Cloud Services (Firebase Admin, Firestore, Storage)
firebase-admin==6.8.0
google-api-core==2.24.2
google-api-python-client==2.170.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.20.2
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.71.0
grpcio-status==1.71.0
proto-plus==1.26.1
protobuf==5.29.4

# Utilities and Core Python Dependencies (often pulled in by others)
Blinker==1.9.0
CacheControl==0.14.3
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
contourpy==1.3.2
cryptography==45.0.3
cycler==0.12.1
fonttools==4.58.0
httplib2==0.22.0
idna==3.10
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.5
kiwisolver==1.4.8
MarkupSafe==3.0.2
msgpack==1.1.0
packaging==25.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.10.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
rsa==4.9.1
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
Werkzeug==3.1.3
